@import 'settings'; 
@import 'foundation';
@include foundation-everything;

$brand-color: #E91E63;
$brand-secondary-color: #74E2FD;
/*=====================
Global                |
=====================*/
body {
    color: #252525;
    background: #f9f9f9;
    font-size: 1rem;
    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
    @include breakpoint(large) {
        margin: 1.9rem;
    }
}

main {
    background: white;
    margin: 1.5em;

    @include breakpoint(medium) {
        margin: 2.5em;
    }

    @include breakpoint(large) {
        margin: 3em;
    }
}
/*=====================
Typography            |
=====================*/
h1,
h2,
h3,
h4,
p,
ul {
    @include flex-grid-column(12,90);
}
.title {
    font-family: 'Playfair Display',Georgia, serif;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5em;
    color: #292929;
    line-height: 1.42em;
    display: block;
    position: relative;

    font-family: 'Avenir', 'Roboto Mono', sans-serif;
    text-transform: none;
    letter-spacing: -0.01em;
    padding-bottom: 8px;
    margin-bottom: 0.5em;
    border-bottom: 3px solid $brand-color;
}

h2 {
    font-weight: 600;
    font-family: 'Avenir', sans-serif;
    font-size: 1.2246em;
    color:#444;
}

p {
    font-size: 1em;
    font-weight: 300;
    font-family: 'Avenir', sans-serif;
    color: #252525;
}

button {
    font-family: 'Roboto Mono';
    border: 2px solid $brand-color;
    padding: 0.5em 1em;
    color: $brand-color;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
        text-decoration: underline;
        cursor: pointer;
    }
}
/*=====================
Intro                 |
=====================*/
.am_intro_wrapper {
    background: white;
}

.am_intro_text {
    padding: 2em 0.25em;
    text-align: center;

    @include breakpoint(medium) {
        padding: 4em 2.5em;
    }
}

.am_case-studies {
    display: flex;
}

.am_case-studies_block {
    flex: 1 1 auto;
}

.am_case-studies_wco{
    height: 450px;
    background-image: url('../assets/images/wco-vineyard.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.am_case-studies_ta {
    height: 450px;
    background-image: url('../assets/images/media.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.am_case-studies_link_wrapper {
    &:hover {
        .am_case-studies-title,
        .am_case-studies-button {
            text-decoration: underline;
        }

        .am_case-studies-button {
            color: $brand-color;
        }
    }
}

.am_case-studies_filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(50,50,50,0.64);
    z-index: 0;
}

.am_case-studies_content {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.am_case-studies-title {
    color: #fff;
    padding: 0.25em 0;
    margin: 0 auto;
    font-size: 1.85em;
    text-align: left;
    transition: all 0.3s ease;
}

.am_case-studies-button {
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.6s ease;

    &:hover {
        color: #fff;
    }
}
/*=====================
Who we is             |
=====================*/
.am_who-we-are {
    padding: 3em 0;
}

.am_who-we-are_wrapper {
    @include breakpoint(large) {
        display: flex;
    }
}

.am_who-we-are_title {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(3);
    }
}

.am_who-we-are_content {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(7);
    }
}
/*=====================
Blog                  |
=====================*/
.am_blog-roll{
    padding: 7em 0;
    background-color: #242627;
}
.am_blog_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.am_blog_item {
    @include flex-grid-column(4);
    background-color: rgba(255,255,255,0.9984);
}
/*=====================
Work with us          |
=====================*/
.am_work-with-us {
    padding: 4em 0;
    background-color: $brand-color;
    text-align: center;

    h2 {
        color: #fff;
        font-size: 2em
    }
    button {
        background: #fff;
        box-shadow: 0 20px 40px rgba(0,0,0,.3);
    }
}