@mixin apply-home-styles() {
  .h_intro {
    position: relative;
    height: 100vh;
    max-height: rem-calc(800);
    background-image: url('/assets/images/sample-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .h_intro-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: rem-calc(700);
      padding: 0 1rem;

      @include breakpoint('medium') {
        padding: 0 2rem;
      }

      @include breakpoint('xlarge') {
        padding: 0 6rem;
      }

      .h_intro-lead-button {
        @include primary-button();
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .h_cta {
    padding: rem-calc(64) 0;
    text-align: center;
  }

  .h_cta-container {
    max-width: rem-calc(800);
    margin: 0 auto;
  }

  .h_diff {
    .h_diff-row {
      @include grid-row();
      @include grid-row-alignment($justify-content: center);
      max-width: 1200px;
      margin: 0 auto;
    }

    .h_diff-item {
      flex: 0 0 100%;

      @include breakpoint('medium') {
        flex: 0 0 33%;
      }
    }

    .h_diff-item-container {
      padding: 1rem;
    }
  }
}